@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scroll-bar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.no-scroll-bar::-webkit-scrollbar {
  display: none;
}

.bike-anim {
  animation-name: bike;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes bike {
  0% {
    transform: translate(0%);
  }

  20% {
    transform: translate(-30%);
  }

  40% {
    transform: translate(60%);
  }

  60% {
    transform: translate(-70%);
  }

  80% {
    transform: translate(-20%);
  }

  100% {
    transform: translate(0%);
  }
}
